.match {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--match);
  font-weight: bold;
  transition-duration: 0.5s;
}

.match img {
  height: 30px;
  width: 30px;
}

.match span {
  flex: 1;
}

.match .home {
  text-align: left;
}

.match .away {
  text-align: right;
}

.score span {
  margin: 5px;
}

.match.active {
  border-radius: 10px 10px 0px 0px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--links);
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.links.active {
  display: flex;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.match:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.reload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 10px;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.reload:hover {
  background-color: var(--hover);
  cursor: pointer;
}

@media (max-width: 450px) {
  .match {
    padding: 15px;
  }

  .match img {
    width: 25px;
    height: 25px;
  }

  .match span {
    font-size: 13px;
  }

  .links a,
  .links p {
    font-size: 13px;
  }
}

[data-theme='dark'] {
  .link img {
    filter: invert(1);
  }
}