.linkRow {
  display: flex;
  width: 100%;
  gap: 5px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 10px;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
  transition-duration: 0.5s;
}

.comments {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: min-content;
  margin-left: auto;
  color: var(--text);
  transition-duration: 0.5s;
}

.link:hover,
.comments:hover {
  background-color: var(--hover);
  cursor: pointer;
}

@media (max-width: 450px) {
  .linkRow {
    gap: 0;
  }

  .comments {
    padding: 10px;
  }

  .link svg {
    width: 16px;
    height: 16px;
  }

  .comments svg {
    width: 12px;
    height: 12px;
  }
}
