.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8;
  height: 100%;
}

.leagueContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 10px;
  margin: 20px;
}

@media (max-width: 900px) {
  .leagueContainer {
    width: 80vw;
  }
}
