:root {
  --background: #f8f8f8;
  --hover: #dfdfdf;
  --text: #080808;
  --match: #efefef;
  --links: #e8e8e8;
}

[theme="dark"] {
  --background: #0d0d0d;
  --hover: #3b3b3b;
  --text: #f5f5f5;
  --match: #1f1f1f;
  --links: #2e2e2e;

  .theme {
    transform: rotate(-90deg);
    filter: invert(1);
  }

  header img {
    filter: brightness(0) invert(1);
  }
}

body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  transition-duration: 0.5s;
}

.theme {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;
}

.theme:hover {
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

header img {
  width: 60px;
  height: 60px;
  transition-duration: 0.5s;
}

header span {
  display: flex;
  flex-direction: column;
  text-align: left;
}

header h1,
header p {
  margin: 0px;
}

.leagueContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 20px;
  gap: 15px;
}

.league {
  display: flex;
  align-items: center;
  gap: 15px;
}

.league img {
  width: 50px;
  height: 50px;
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 5px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

@media (max-width: 900px) {
  .theme {
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
  }

  .leagueContainer {
    width: 90vw;
  }

  .league img {
    width: 30px;
    height: 30px;
  }
}
