.match {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #efefef;
  font-weight: bold;
}

.match span {
  flex: 1;
}

.match .home {
  text-align: left;
}

.match .away {
  text-align: right;
}

.score span {
  margin: 5px;
}

.match.active {
  border-radius: 10px 10px 0px 0px;
}

.match:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 0px 0px 10px 10px;
  background-color: #e8e8e8;
}

.link {
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  color: #000000;
}

.link:hover {
  background-color: #dfdfdf;
}
